/* ///// FONT ///// */

@font-face {
    font-family: "Moonstruck";
    src: url("../fonts/Moonstruck-Slanted.woff") format("woff");
}

/* ///// FONT ///// */

/* ///// BODY ///// */

body {

    height: 100%;
    color: white;
    font-family: "Moonstruck";
    background-image: url(../img/background.png);

}

p {

    margin: 0;
    font-size: 20rem;
    color: #343434;
    text-align: center;


}
/* NAME*/

.maskTxt {
    position: relative;
    overflow: hidden;
    height: 0px;
    width: 550px;
    z-index: 5;
    margin: 15% 0 0 25%;

}




@media all and (min-width: 1400px) {
    
    
    
.maskTxt {
    position: relative;
    overflow: hidden;
    height: 0px;
    width: 500px;

    margin: 12% 0 0 35%;

}
  
    
    
}




.black {
    position: absolute;
    height: 250px;
    background: #343434;
    width: 550px;
    right: 0;
    bottom: 0;

}

/*NAME*/

/*SCALE START*/

.roundR {

    position: absolute;
    top: 40%;
    left: 50%;
    height: 10px;
    transform: scale(650);
    background: #f59096;
    width: 10px;
    border-radius: 100%;
    transform: scale();
    z-index: 99;
}

.roundJ {

    position: absolute;
    top: 40%;
    left: 50%;
    height: 10px;
    transform: scale(650);
    background: #ffce71;
    width: 10px;
    border-radius: 100%;
    transform: scale();
    z-index: 100;
}

.roundV {

    position: absolute;
    top: 40%;
    left: 50%;
    height: 10px;
    transform: scale(650);
    background: #50ddc8;
    width: 10px;
    border-radius: 100%;
    transform: scale();
    z-index: 99;
}

/*SCALE START*/


.pink{
    
   width: 0; 
    position: absolute;
    top: 20%;
    left: 40%;
    overflow: hidden;
    
}

.pink img {
    
    
    height: 500px;
    
}

.jaune{
    
   width: 0; 
    position: absolute;
    top: 20%;
    left: 40%;
    overflow: hidden;
    
}

.jaune img {
    
    
    height: 400px;
    
}

.vert{
    
   width: 0; 
    position: absolute;
    top: 25%;
    left: 40%;
    overflow: hidden;
    
}

.vert img {
    
    
   width: 500px;
    
}


/*TRISTAN*/

.GostTristan{
    
    overflow: hidden;
        position: absolute;
    bottom: 0;
    width: 0px;
    height: 100%;
    
}

.tristan{
    
    position: absolute;
    bottom: 0;
    height: 700px;
    
}


@media all and (min-width: 1400px){
    
    
    
    
    
    
    
    
    
   .tristan{
    
    position: absolute;
    bottom: 0;
    height: 1000px;

    
} 
    
    
    
}









