/* ///// FONT ///// */

@font-face {
    font-family: "Moonstruck";
    src: url("../fonts/Moonstruck-Slanted.woff") format("woff");
}

/* ///// FONT ///// */

/* ///// BODY ///// */

html {

    height: 100%;
}

body {

    height: 80%;
    color: white;
    font-family: "Moonstruck";
    background-image: url(../img/background.png);

}

p {
   
   margin: 0;
    font-size: 20rem;
   color: #343434;
    text-align: center;

    


    
}

.maskTxt{
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 0px;
    
    margin: 15% 0 0 35% ;
    
}

.jaune{
    position: absolute;
    height: 250px;
    background: #ffec18;
    width: 550px;
    right: 0;
    bottom: 0;
    
}


